<div class="lb-left">
    <ul class="nav nav-pills nav-stacked pull-left lb-menu">
        <li role="presentation"><a href="liebiao" ui-sref="/">列表</a></li>
        <li role="presentation" class="active"><a href="#" ui-sref="chakan">详情</a></li>
        <li role="presentation"><a href="#" ui-sref="baoming">报名</a></li>
    </ul>
</div>
<div class="bm-right" >
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 control-label">姓名</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="addname"
                       placeholder="请填写2-12个汉字" ng-minlength=3 ng-maxlength=20 required ng-disabled="isdisa">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">QQ</label>
            <div class="col-sm-10">
                <input type="text" class="form-control"
                       placeholder="请填写腾讯QQ号码" ng-model="addqq" ng-disabled="isdisa">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">修真类型</label>
            <div class="col-sm-10">
                <label class="radio-inline">
                    <input type="radio" name="type" id="css" value="1" ng-model="addtype" ng-disabled="isdisa"> CSS
                </label>
                <label class="radio-inline">
                    <input type="radio" name="type" id="js" value="2" ng-model="addtype" ng-disabled="isdisa"> JS
                </label>
                <label class="radio-inline">
                    <input type="radio" name="type" id="java" value="3" ng-model="addtype" ng-disabled="isdisa"> JAVA
                </label>
                <label class="radio-inline">
                    <input type="radio" name="type" id="yw" value="4" ng-model="addtype" ng-disabled="isdisa"> 运维
                </label>
                <label class="radio-inline">
                    <input type="radio" name="type" id="dba" value="5" ng-model="addtype" ng-disabled="isdisa"> DBA
                </label>
                <label class="radio-inline">
                    <input type="radio" name="type" id="cp" value="6" ng-model="addtype" ng-disabled="isdisa"> 产品
                </label>
                <label class="radio-inline">
                    <input type="radio" name="type" id="ios" value="7" ng-model="addtype" ng-disabled="isdisa"> IOS
                </label>
                <label class="radio-inline">
                    <input type="radio" name="type" id="az" value="8" ng-model="addtype" ng-disabled="isdisa"> 安卓
                </label>

            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">毕业院校</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="请填写最后毕业的学校名称"
                       ng-model="addschool" ng-disabled="isdisa">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">修真资质</label>
            <div class="col-sm-10">
                <label class="radio-inline">
                    <input type="radio" name="talent" id="xueba" value="0" ng-model="talent" ng-disabled="isdisa"> 学霸
                </label>
                <label class="radio-inline">
                    <input type="radio" name="talent" id="xuezha" value="1" ng-model="talent" ng-disabled="isdisa"> 学渣
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">修真等级</label>
            <div class="col-sm-10">
                <label class="radio-inline">
                    <input type="radio" name="level" id="jichu1" value="1" ng-model="addlevel" ng-disabled="isdisa"> 0基础
                </label>
                <label class="radio-inline">
                    <input type="radio" name="level" id="jichu2" value="2" ng-model="addlevel" ng-disabled="isdisa">
                    修行3个月以内
                </label>
                <label class="radio-inline">
                    <input type="radio" name="level" id="jichu3" value="3" ng-model="addlevel" ng-disabled="isdisa">
                    修行6个月以内
                </label>
                <label class="radio-inline">
                    <input type="radio" name="level" id="jichu4" value="4" ng-model="addlevel" ng-disabled="isdisa">
                    修行一年以上
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">入学时间</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="joinTime" ng-disabled="isdisa">
            </div>


        </div>
        <div class="form-group">
            <label for="wish" class="col-sm-2 control-label">修行立愿</label>
            <div class="col-sm-10">
                <textarea class="form-control" id="wish" placeholder="这里输入内容" rows="4" ng-model="addwish"
                          ng-disabled="isdisa">

                </textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn-default" ng-click="xiugai()">修改</button>
                <button type="submit" class="btn btn-default" ng-click="chakan()">提交</button>
            </div>
        </div>
    </form>
</div>